{% extends 'user_management/layout.html'%}
{% block content %}
 <!-- Basic login form-->
 <div class="col-lg-5">
	<div class="card shadow-lg border-0 rounded-lg mt-5">
		<div class="card-header justify-content-center">
     		<h2 class="text-center display-4">Boto3 Web Cli</h2>
        	<h3 class="font-weight-light my-3">Login</h3>
    	</div>
    	<div class="card-body">
    	<!-- Login form-->
    		<form>
    			<!-- Form Group (email)-->
        		<div class="form-group">
            		<label class="small mb-1" for="inputEmailAddress">Email</label>
                	<input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" />
            	</div>
            	<!-- Form Group (password)-->
            	<div class="form-group">
                	<label class="small mb-1" for="inputPassword">Password</label>
                	<input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />
            	</div>
            	<!-- Form Group (remember password checkbox)-->
            	<div class="form-group">
            		<div class="custom-control custom-checkbox">
                    	<input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                    	<label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                	</div>
            	</div>
            	<!-- Form Group (login box)-->
            	<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                	<a class="small" href="{{url_for('user_management.forgot_password')}}">Forgot Password?</a>
                	<a class="btn btn-primary" href="index.html">Login</a>
            	</div>
        	</form>
    	</div>
    	<div class="card-footer text-center">
        	<div class="small"><a href="{{url_for('user_management.register')}}">Need an account? Sign up!</a></div>
    	</div>
	</div>
</div>
{% endblock content %}