{% extends 'home/layout.html' %}
{% block content %}
	<nav aria-label="breadcrumb">
  	<ol class="breadcrumb">
    	<li class="breadcrumb-item"><a href="{{url_for('home.home')}}">Dashboard</a></li>
    	<li class="breadcrumb-item active" aria-current="page">AWS Access Key Management</li>
  	</ol>
	</nav>
	<div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-12 mb-4">
                <div class="card card-waves h-100">
                    <div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-xxl-12">
                                <div class="text-center px-4 mb-4 mb-xl-0 mb-xxl-4">
                                    <h2 class="text-warning">AWS Access Key Management</h2>
                                        <p class="text-gray-700 mb-0">Add your AWS Access key to your project and manage all your aws resource services.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid" src="{{url_for('static',filename='images/processing-qqpana.svg')}}" style="max-width: 13rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if accesskeydb_len == 0 %}
            	<div class="col-xxl-4 col-xl-12 mb-4">
            		<a class="btn btn-primary rounded-0 float-right" href="{{url_for('awsaccesskey.awsaccesskey_add')}}" role="button">Add AWS Access Key</a>
            	</div>	
            {% else %}
            	<div class="col-xxl-4 col-xl-12 mb-4">
                    <div class="card mb-4">
                        <div class="card-header">AWS Access Key
                            <a class="btn btn-primary rounded-0 float-right" href="{{url_for('awsaccesskey.awsaccesskey_add')}}" role="button">Add AWS Access Key</a>
                        </div>
                        <div class="card-body">
                        	<table class="table table-bordered table-hover table-sm">
                        		<thead class="text-primary">
                        			<tr>
                        				<th scope="col">Key Name</th>
                        				<th scope="col">Access Key Id</th>
                        				<th scope="col">Created On</th>
                        				<th scope="col">Action</th>
                        			</tr>
                        		</thead>
                        		<tbody>
                        			{% for i in accesskey_record.items %}
                        				<tr>
                        					<td>{{i.keyname}}</td>
                        					<td>{{i.accesskeyid}}</td>
                        					<td>{{i.date_created.strftime('%d-%m-%Y')}}</td>
                        					<td><a href="{{url_for('awsaccesskey.awsaccesskey_remove',accessid=i.id)}}"><i class="fas text-danger fa-trash-alt"></i></a></td>
                        				</tr>
                        			{% endfor %}
                        		</tbody>
                        	</table>
                        	<div class="rounded-0">
								{% for page_num in accesskey_record.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
    								{% if page_num %}
        								{% if accesskey_record.page == page_num %}
          									<a class="btn btn-primary btn-sm mt-2" href="{{ url_for('awsaccesskey.awsaccesskey_home',page=page_num)}}">{{ page_num }}</a>
        								{% else %}
          									<a class="btn btn-outline-info mt-2" href="{{ url_for('awsaccesskey.awsaccesskey_home',page=page_num)}}">{{ page_num }}</a>
        								{% endif %}  
      								{% else %}
        								...
      								{% endif %}
    							{% endfor %}
							</div>
                        </div>
                    </div>
            	</div>
            {% endif %}
        </div>
    </div>
    
{% endblock content %}