{% extends 'home/layout.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    	<li class="breadcrumb-item"><a href="{{url_for('home.home')}}">Dashboard</a></li>
    	<li class="breadcrumb-item"><a href="{{url_for('project.project_home')}}">Projects</a></li>
    	<li class="breadcrumb-item"><a href="{{url_for('project.project_dashboard')}}"> {{project.projectname}} : {{project.project_region}}-region</a></li>
    	<li class="breadcrumb-item active" aria-current="page">Create Firewall Rule</li>
  	</ol>
</nav>


	<p class="text-left">A Firewall security group acts as a virtual firewall for your instance to control inbound and outbound traffic.
	</p>
	<div class="row">
		<div class="col-xxl-4 col-xl-12 mb-4">
			<div class="card mb-4">
				 <div class="card-header text-primary">Firewall Security group Info</div>
				  <div class="card-body">
				  	<form method="POST" action="">
				  		{{form.hidden_tag()}}
				  		<div class="form-group">
				  			{% if form.sgname.errors %}
                                <label class="small mb-1" for="inputKeyName">Security group name</label>
                                {{ form.sgname(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.sgname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <label class="small mb-1" for="inputKeyName">Security group name</label>
                                {{form.sgname(class="form-control",placeholder="Give a firewall security group name")}}
                            {% endif %}
				  		</div>
				  		<div class="form-group">
				  			{% if form.description.errors %}
                                <label class="small mb-1" for="inputKeyName">Description</label>
                                {{ form.description(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <label class="small mb-1" for="inputKeyName">Description</label>
                                {{form.description(class="form-control",placeholder="e.g Allow ssh to Developers")}}
                            {% endif %}
				  		</div>
				  		<div class="form-group">
                            <label class="small mb-1" for="inputKeyName">VPCs</label>
                            {{form.vpc(class="form-control")}}
				  		</div>
                        <label class="small mb-1" for="inputKeyName">Inbound Rules</label>
                        <div class="form-group" id="checkrule">
                             
                        </div>
                        <div class="form-group">
                            {{form.submit(class="btn btn-primary rounded-0 float-right")}}
                        </div>
				  	</form>
				  </div>
			</div>
		</div>
        <div class="col-xxl-4 col-xl-12 mb-4">
            <table class="table table-sm" id="firewall-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Protocol</th>
                        <th scope="col">Port Range</th>
                        <th scope="col">Source</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="copyrule">
                        <td class="mt-2">
                            <select id="firewalltype" onchange="myFirewalltype()">
                                <option value="Custom TCP Rule">Custom TCP Rule</option>
                                <option value="Custom UDP Rule">Custom UDP Rule</option>
                                <option value="Custom Protocols">Custom Protocols</option>
                                <option value="All TCP">All TCP</option>
                                <option value="All UDP">All UDP</option>
                                <option value="All Traffics">All Traffics</option>
                                <option value="SSH">SSH</option>
                                <option value="SMTP">SMTP</option>
                                <option value="DNS (UDP)">DNS (UDP)</option>
                                <option value="DNS (TCP)">DNS (TCP)</option>
                                <option value="HTTP">HTTP</option>
                                <option value="HTTPS">HTTPS</option>
                                <option value="POP3">POP3</option>
                                <option value="IMAP">IMAP</option>
                                <option value="LDAP">LDAP</option>
                                <option value="SMB">SMB</option>
                                <option value="SMTPS">SMTPS</option>
                                <option value="IMAPS">IMAPS</option>
                                <option value="MY SQL">MY SQL</option>
                                <option value="NFS">NFS</option>
                                <option value="RDP">RDP</option>
                                <option value="Redshift">Redshift</option>
                                <option value="PostgreSQL">PostgreSQL</option>
                                <option value="Oracle-RDS">Oracle-RDS</option>
                            </select>
                        </td>
                        <td><input type="text" value = "TCP" id="firewalltypeinput" readonly="true"></td>
                        <td><input  type="text" value= 0 ></td>
                        <td>
                            <select id="sgsource" onchange="mysgsource()">
                                <option value="Custom">Custom</option>
                                <option value="Anywhere">Anywhere</option>
                                <option value="My IP">My IP</option>
                            </select>
                            <input type="text" id="sgsourceinput" placeholder="CIDR,IP,Security Group">
                        </td>
                        <td><input  type="text" placeholder="e.g SSH for Admin"></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="addrulebtn btn btn-secondary rounded-0" onclick="addRule()">Add</button>
            <script type="text/javascript">

                var rcount = 0;

                function addRule(){


                    //Get the table values
                    var tab = document.getElementById("firewall-table");
                    rules = tab.rows[1].cells[1].firstChild.value+","+tab.rows[1].cells[2].firstChild.value+","+tab.rows[1].cells[3].childNodes[3].value+","+tab.rows[1].cells[4].firstChild.value;

                    //Validation:1
    
                    if ( tab.rows[1].cells[1].firstChild.value.length == 0 || tab.rows[1].cells[2].firstChild.value.length == 0 || tab.rows[1].cells[3].childNodes[1].value.length == 0 || tab.rows[1].cells[4].firstChild.value.length == 0)
                    {
                        alert("Empty fields are not allowed");
                    }

                    //Create Rule-Check box
                    var i = 1;  //counter, for checkbox
                    ++rcount;

                    //Div
                    var cdiv = document.createElement('div');
                    cdiv.setAttribute('class','form-check');

                    var chk = document.createElement('input');
                    chk.setAttribute('class','form-check-input');
                    chk.setAttribute('type', 'checkbox');
                    chk.setAttribute('value', rules);
                    chk.setAttribute('name', 'rulebooklist');
                    
                    //Create Label
                    var lbl = document.createElement('label');
                    lbl.setAttribute('class','form-check-label');
                    lbl.appendChild(document.createTextNode('Rule : '+ rcount + ' : ' + tab.rows[1].cells[4].firstChild.value));

                    //Append the checkbox
                    checkrule.appendChild(cdiv).appendChild(chk);
                    checkrule.appendChild(cdiv).appendChild(lbl);
                }
            </script>
            <script type="text/javascript">
                function mysgsource()
                {
                    var x = document.getElementById("sgsource").value;

                    if ( x == "Anywhere" ){
                        document.getElementById("sgsourceinput").value = "0.0.0.0/0"
                        document.getElementById("sgsourceinput").readOnly = true
                    }
                    else if ( x == "My IP"){

                        req = $.ajax({
                        url : '/project/getmyip',
                        type : "POST" });

                        req.done(function(data){

                            if (data.result == "fail" )
                            {
                                document.getElementById("sgsourceinput").value = "Error"

                            }
                            else {

                                document.getElementById("sgsourceinput").value = data.result
                                document.getElementById("sgsourceinput").readOnly = true
                            }
                        });
                    }
                    else{
                        document.getElementById("sgsourceinput").value = " "
                    }
                }
            </script>
            <script type="text/javascript">
                function myFirewalltype()
                {
                    var x = document.getElementById("firewalltype").value;
                    var tab = document.getElementById("firewall-table");

                    if ( x == "Custom TCP Rule")
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 0
                        tab.rows[1].cells[2].firstChild.readOnly = false
                        
                    }
                    else if ( x == "Custom UDP Rule" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "UDP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 0
                        tab.rows[1].cells[2].firstChild.readOnly = false
                    }
                    else if ( x == "Custom Protocols")
                    {
                        tab.rows[1].cells[1].firstChild.value = ""
                        tab.rows[1].cells[1].firstChild.readOnly = false
                        tab.rows[1].cells[2].firstChild.value = "all"
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "All TCP")
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = "0 - 65535"
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "All UDP")
                    {
                        tab.rows[1].cells[1].firstChild.value = "UDP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = "0 - 65535"
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "All Traffics")
                    {
                        tab.rows[1].cells[1].firstChild.value = "All"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = "0 - 65535"
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "SSH")
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 22
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "SMTP" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 25
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "DNS (UDP)")
                    { 
                        tab.rows[1].cells[1].firstChild.value = "UDP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 53
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "DNS (TCP)" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 53
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "HTTP" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 80
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "HTTPS" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 443
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "POP3" )
                    {       
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 110
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "IMAP" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 143
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "LDAP" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 389
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "SMB")
                    {   
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 445
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "SMTPS" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 465
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "IMAPS" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 993
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "MY SQL")
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 1433
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "NFS" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 2049
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "RDP" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 3389
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "Redshift" )
                    {
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 5439
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    }
                    else if ( x == "PostgreSQL" )
                    {     
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 5432
                        tab.rows[1].cells[2].firstChild.readOnly = true
                    } 
                    else if ( x == "Oracle-RDS" )
                    {       
                        tab.rows[1].cells[1].firstChild.value = "TCP"
                        tab.rows[1].cells[1].firstChild.readOnly = true
                        tab.rows[1].cells[2].firstChild.value = 1512
                        tab.rows[1].cells[2].firstChild.readOnly = true   
                    }
                    else{

                        alert("no");
                    }
                }
            </script>
        </div>
	</div>

{% endblock content %}